@model IDH7A1.Models.Moment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Moment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>
    @Html.ActionLink("Add Room", "create", "MomentRooms")
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Room")
            </th>
            <th>
                @Html.DisplayName("Surveillant")
            </th>
        </tr>

        @foreach (var item in Model.MomentRooms)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surveillant.Name)
            </td>
        </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
